/* search.component.css */
.results-container {
  margin-top: 30px;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
}

.results-table th,
.results-table td {
  border: 1px solid #ddd; /* Add border to table cells */
  padding: 8px;
  text-align: left;
}

.results-table th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}

.results-table tbody tr:nth-child(even) {
  background-color: #f2f7fb;
}

.results-table tbody tr:hover {
  background-color: #e1effe;
}
